<a href="https://colab.research.google.com/github/sayedanwar2000/GDSC-Data-science/blob/main/GDSC_Python_Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GDSC - Data Science - Task 1

**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [ ]:
st = 'Print only the words that start with s in this sentence'

In [ ]:
#Code here
String = st.split()
for item in String :
    if item[0] == 's':
        print(item)

start
s
sentence

______
**Use range() to print all the even numbers from 0 to 10.**

In [ ]:
#Code Here
for i in range(0,10,2):
    print(i)

0
2
4
6
8

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [ ]:
#Code in this cell
Comprehension = []
for i in range(3,50,3):
    Comprehension.append(i)
Comprehension

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [ ]:
#Code in this cell
if len(st)%2==0:
    print('even!')

even!

In [ ]:
#Code in this cell

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [ ]:
st = 'Create a list of the first letters of every word in this string'

In [ ]:
#Code in this cell
String = st.split()
newString = []
for item in String:
    newString.append(item[0])
newString

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

#### Merge two Python dictionaries into one

In [ ]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
#Code here
dict1.update(dict2)
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
#Expected output:
# {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

 #### Check if a value exists in a dictionary

In [ ]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}

In [ ]:
#Code here
value = 100
if any([True for k,v in sample_dict.items() if v == value]):
    print(f"Yes, Value: '{value}' exists in dictionary")
else:
    print(f"No, Value: '{value}' does not exists in dictionary")

Yes, Value: '100' exists in dictionary

#### Change value of a key in a nested dictionary
#### Write a Python program to change Bradâ€™s salary to 8500 in the following dictionary.

In [ ]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

In [ ]:
#Code here
sample_dict['emp3']['salary'] = 8500
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

#### Sort a tuple of tuples by 2nd item

In [ ]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

In [ ]:
#Code here
T = sorted(
    tuple1,
    key=lambda t: t[1]
)
T

[('c', 11), ('a', 23), ('d', 29), ('b', 37)]

In [ ]:
# Expected output:
# (('c', 11), ('a', 23), ('d', 29), ('b', 37))

#### Define a function that can accept two strings as input and concatenate them and then print it

In [ ]:
#Code here
def string(s1,s2):
   S = s1 + s2
   print(S)
string('Hi ','sayed')

Hi sayed

#### Define a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print all strings line by line.

In [ ]:
#Code here 
def string ( s1 ØŒ s2 ) :  if len ( s1 )  >  len ( s2 ): print ( s1 ) elif len ( s2 )  >  len ( s1 ): print ( s2 ) else : print ( s1 ) print ( s2 ) ) Ø³Ù„Ø³Ù„Ø© ( 'Hi' ØŒ 'sayed' ) Ø³Ù„Ø³Ù„Ø© (
    
       
    
       
    
       
       

'sayed','Hi')
string('Hi','Hi')

sayed
sayed
Hi
Hi

### Great Job!