<a href="https://colab.research.google.com/github/sayedanwar2000/GDSC-Data-science/blob/main/Python_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **GDSC Al-azhar | Data Science Training**

### Print words that start with : **s**

In [ ]:
st = 'Print only the words that start with s in this sentence'

In [ ]:
#Code here
i=0
j=0
for char in st:
  if char == 's':
    j += 1
  if j == 3:
    break
  i += 1

print(st[i:])

s in this sentence

### Find the most frequent value in a list

In [ ]:
test = [1, 2, 3, 9, 2, 7, 3, 5, 9, 9, 9]

In [ ]:
#Code here
from collections import Counter
 

occurence_count = Counter(test)
print(occurence_count.most_common(1)[0][0])

9

### Use range() to print all the even numbers from 0 to 10.

In [ ]:
#Code here
i = list(range(0,11))
print(i)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Use List comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

In [ ]:
#Code here
i = list(range(3,51,3))
print(i)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

____
### Use a List Comprehension to create a list of the first letters of every word in the string below:

In [ ]:
st = 'Create a list of the first letters of every word in this string'

In [ ]:
#Code here
chars = []
st = st.split()
for char in st:
  chars.append(char[0])

print(chars)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

### Go through the string below and if the length of a word is even print "even!"

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [ ]:
#Code here
st = st.split()
for char in st:
  if len(char)%2 == 0:
    print('even')

even
even
even
even
even
even
even
even
even

**Using Code**
### How to Update List & dict 
### how to delete elements From List 
### advantage of set()

In [ ]:
#Code here

### Using lambda : Sum 3 nums

In [ ]:
#Code here

### how to sort List 

```
thislist = [100, 50, 65, 82, 23]
```

In [4]:
#Code here
thislist = [100, 50, 65, 82, 23]
thislist.sort()
thislist

[23, 50, 65, 82, 100]

### Reverse List
```
thislist = [100, 50, 65, 82, 23]
```

In [5]:
#Code here
thislist.sort(reverse=True)
thislist

[100, 82, 65, 50, 23]

### Write a Python function that takes a list and returns a new list with unique elements of the first list.

```
    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]
```

In [6]:
#Code here
def Remove_Duplicates(lis):
  mylist = list(dict.fromkeys(lis))
  return mylist


Sample_List = [1,1,1,1,2,2,3,3,3,3,4,5]
Unique_List = Remove_Duplicates(Sample_List)
Unique_List

[1, 2, 3, 4, 5]

### Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters


    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [9]:
#Code here
Sample_String = 'Hello Mr. Rogers, how are you this fine Tuesday?'

def calculates_the_number_of_upper_and_lower_case(s):
  I = 0
  i = 0
  for litter in s:
    if litter.isupper() :
      I += 1
    elif litter.islower() :
      i += 1

  print('No. of Upper case characters : '+str(I))
  print('No. of Lower case Characters : '+str(i))


calculates_the_number_of_upper_and_lower_case(Sample_String)

No. of Upper case characters : 4
No. of Lower case Characters : 33

### Write a Python function to multiply all the numbers in a list.

```
Sample List : [1, 2, 3, -4]
Expected Output : -24
```

In [ ]:
#Code here

### Write a Python function that checks whether a passed string is palindrome or not

In [ ]:
#Code here

### Open a file, name it 'test.txt' and write 'I Love python' for 5 times in it then close it.

In [ ]:
#Code here

### Handle the exception thrown by the code below by using try and except blocks.

In [ ]:
for i in ['a','b','c']:
    print(i**2)

TypeError: ignored

In [12]:
#Code here
try:
  for i in ['a','b','c']:
    print(i**2)
except :
  print('TypeError')

TypeError

### Handle the exception thrown by the code below by using try and except blocks. Then use a finally block to print 'All Done.'

In [ ]:
x = 5
y = 0

z = x/y

ZeroDivisionError: ignored

In [11]:
#Code here
try:
  x = 5
  y = 0

  z = x/y
except :
  print('ZeroDivisionError')
finally:
  print("All Done")

ZeroDivisionError
All Done

### **It does not matter how slowly you go as long as you do not stop.**

**feel free to contact me if you need any further information**
[LinkedIn](https://www.linkedin.com/in/mohamed-ibrahim-513531202/)